body{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.google{
    border: 1px solid #dadcdf;
    width: 500px;
    margin-left: 450px;
    margin-top: 25px;
    padding-top: 30px;
    padding-bottom: 60px;
}
.img-google{
    width: 120px;
    height: auto;
    margin-left: 180px;
    margin-bottom: 0px;
}
#p-1{
    margin-left: 195px;
    font-size: 29px;
    margin-top: -5px;
    margin-bottom: 0px;
}
#p-2{
    margin-left: 140px;
    font-size: 20px;
}
#input-1{
    width: 370px;
    height: auto;
    padding: 14px;
    margin-left: 50px;
    font-size: 17px;
    border-radius: 8px;
    border: 1px solid #dadcdf;
    margin-top: 10px;
    margin-bottom: 10px;
}
#a-1{
    margin-left: 50px;
    text-decoration: none;
    font-size: 17px;
    color: #1a73e8;
    font-weight: bold;
}
#p-3{
    font-size: 17px;
    margin-left: 50px;
    margin-top: 50px;
    opacity: 0.8;
    margin-bottom: 7px;
}
#a-2{
    font-size: 17px;
    text-decoration: none;
    margin-left: 50px;
    font-weight: bold;
    color: #1676f3;
}
#a-3{
    text-decoration: none;
    font-size: 17px;
    margin-left: 50px;
    font-weight: bold;
    color: #1676f3;
}
.next-but{
    margin-left: 212px;
    background-color: #004fb6;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 70px;
    border: 1px solid #004fb6;
    padding: 7px;
    border-radius: 8px;
}
.next-but:hover{
    cursor: pointer;
    opacity: 0.8;
}
.dowon-google{
    margin-left: 410px;
}
#label-1{
    font-size: 14px;
}
#label-1:hover{
    cursor: pointer;
    opacity: 0.9;
}
#select-1{
    border: 1px solid rgb(124, 120, 120);
    border-radius: 5px;
}
.ul-1{
    list-style: none;
    margin-top: 25px;
}
#li{
    float: left;
}
.help{
    margin-left: 105px;
}
.privacy{
    margin-left: 30px;
}
.trams{
    margin-left: 30px;
}
#a-4{
    text-decoration: none;
    color: #464545;
    font-size: 15px;
}